- if object.errors.any?
  #error_explanation
    %h2
      = t('view.shared.error_message_count' , count: object.errors.count) 
    %ul
      - object.errors.full_messages.each do |msg|
        %li= msg
